* {
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
	font-size: 62.5%;
	border: none;
}
hr{
	border: none;
}
body{
	background: rgba(0,0,0,0.8) url(../img/backgroundimg.png) no-repeat fixed left bottom;
	background-size: cover;
	color: #fff;
	text-align: center;
	font-size: 1.4rem;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}
.clear{
	clear: both;
}
#gnav {
	padding-right: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,.5);
  font-family: 'Open Sans', sans-serif;
  transition: .5s;
}
.menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  float: right;
  line-height: 65px;
  letter-spacing: 1px;
  text-transform: uppercase;
	width: auto;
}

.menu li{
	float: left;
	padding: 0 1.36em;
	max-width: 500px;
}
.menu li::after{
	content: '';
}

.menu li a {
  display: block;
  width : 100%;
  padding: 20px 1.36em;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  transition: .3s;
}
.menu li a:hover {
  background: black;
}
.header{
	padding: 170px 30px 80px;
	min-height: 500px;
}

.title{
	margin: 50px 0 40px;
	font-size: 7.6rem;
}

.subtitle{
	margin: 0 0 30px;
	letter-spacing: 1px;
	font-size: 2.2rem;
}

.subtitle::after, .subtitle::before{
	content: '';
	display: block;
	width: 80%;
	height: 2px;
	margin: 0 auto;
	background-color: white;
	vertical-align: middle;
}

.button {
	display: inline-block;
	width: 150px;
	padding: 20px;
	margin: 80px 8px;
	border-radius: 8px;
	background-color: #1AE4A4;
	color: white;
	text-decoration: none;
	letter-spacing: 1px;
	font-size: 1.2rem;
}
.contact-botton{
	margin: 0px 8px;
	background-color: gray;
}
.button:hover{
	opacity: 0.7;
}
.about{
	padding: 80px 30px;
	background-color: white;
	color: black;
}

.section-title{
	position: relative;
	display: inline-block;
	margin: 30px 0 15px;
	padding-bottom: 15px;
	letter-spacing: 2px;
	font-size: 4rem;
}

.section-title::before, .section-title::after{
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	border-bottom: 1px solid black;
}
.section-title::before{
	bottom: 5px;
}

.face {
	margin-top: 60px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.25);
}
.text{
	margin: 30px 0;
	line-height: 2.0;
}
.works{
	background-color: #303030;
	padding:  80px 0;
	
}

.works-list{
	display: table;
	width: 100%;
	margin-top: 60px;
	table-layout: fixed;
}
.works-list li{
	display: table-cell;
}
.works-list a{
	text-decoration: none;
}
.image{
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

.works-list .title {
		color: aquamarine;
    display: block;
    font-size: 18px;
    line-height: 1.34;
    letter-spacing: 1px;
    font-weight: normal;
    text-transform: uppercase;
}
.works-list .date {
    color: rgb(128, 128, 128);
    display: block;
    font-size: 12px;
    line-height: 1.34;
    margin-bottom: 1.34em;
}
.works-list .description {
    color: rgb(77, 77, 77);
    font-size: 12px;
    line-height: 1.75;
}



.contact{
	clear: both;
	padding: 80px 0;
	color: white;
}
.contact ul{
	list-style: none;
	display: flex;
	justify-content: center;
	margin-left: 50px;
	margin-top: 150px;
	margin-bottom: 100px;
}
.contact li{
	margin-right: 50px;
	float: left;
}
.contact img{
	max-width: 100px;
	width: 18vw;
}
iframe{
	margin-top: 60px;
	width: 80%;
	max-width: 600px;
}
